
/* CSS media must be bundled separately
if styles.css is excluded from bundling */

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
body {
    background-image: url(../images/background.webp);
    background-position: center top;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
@supports (-webkit-hyphens:none) {
    body {
        background-image: none;
    }
    body::before {
        background-image: url(../images/background.webp);
        background-position: center top;
        background-repeat: no-repeat;
    }
}
@media (min-width: 1920px) {

    body, body::before {
        background-size: cover;
    }
}