@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0 0;
    padding: 0 0;
    outline: none;
}
*::before, *::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}
button {
    border: none;
    background: none;
    cursor: pointer;
}

html {
    display: flex;
    height: 100%; /*fallback*/
    height: -webkit-fill-available;
}
body {
    width: 100%;
    overflow-x: hidden;
    background-color: #121922;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 200;
    color: #fff;
}
.container {
    display: flex;
    flex-flow: column;
    max-width: 1920px;
    min-height: 100%;
    margin: auto;
    padding: 0 10%;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3% 0;
}
.logo {
    display: flex;
    align-items: center;
    column-gap: 20px;
    font-size: 52px;
    /* font-weight: 700;
    color: #222; */
}
.options {
    display: flex;
    column-gap: 10px;
    filter: invert(1);
}
.main {
    flex-grow: 1;
    display: grid;
    grid-template: 0.9fr 1.1fr / 1fr 2fr;
    grid-gap: 10px 10px;
}
.section.now,
.section.today {
    border-radius: 15px;
    background-color: #0004;
    backdrop-filter: blur(5px);
}
.section.week {
    grid-column: 1 / -1;
    display: flex;
    column-gap: 10px;
}
.section .box {
    flex: 1;
    display: flex;
    flex-flow: column;
    min-width: 0;
}
.current .date,
.today .head {
    display: flex;
    align-items: center;
    height: 62px; /*reserved*/
    border-bottom: 1px solid #fff4;
}
.current .date {
    padding: 0 4%;
    font-size: 24px;
}
.current .display {
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding: 0 4%;
    font-size: 64px;
}
.current .temp {
    white-space: nowrap;
}
.current .details {
    padding: 4%;
}
.current .wrapper {
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin: -10px 0 10px;
}
.current .feels {
    font-size: 20px;
    white-space: nowrap;
}
.current .feels span {
    margin-left: 5px;
    font-size: 24px;
}
.current .short {
    font-size: 21px;
}
.today .head {
    justify-content: space-between;
    padding-inline: 4% 5%;
    font-weight: 300;
}
.today .hours {
    display: flex;
    padding: 2%;
}
.box.hour {
    align-items: center;
    padding: 2%;
}
.hour .time {
    align-self: stretch;
    font-weight: 300;
}
.hour .temp {
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 300;
    white-space: nowrap;
}
.hour .feels {
    white-space: nowrap;
}
.hour .wind {
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.hour .wind img {
    filter: invert(1);
    transform: scale(-1) rotate(var(--rotate));
}
.hour .wind .speed {
    white-space: nowrap;
}
.box.day {
    border-radius: 15px;
    background-color: #0004;
    backdrop-filter: blur(5px);
    padding: 2%;
}
.day .name {
    margin-bottom: 2px;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
}
.day .image {
    align-self: center;
}
.day .info {
    flex-grow: 1;
    margin-bottom: 10px;
}
.day .temp {
    display: flex;
    justify-content: space-evenly;
    font-size: 24px;
}
.day .temp span {
    opacity: 0.8;
}
.day .temp .sep {
    margin: 0 -10px;
}
.day .temp .max {
    font-weight: 300;
    opacity: 1;
}
.footer {
    padding: 4% 0 2%;
    text-align: center;
    font-weight: 300;
    color: #fffc;
}
.footer span {
    display: inline-block;
    backdrop-filter: blur(3px);
    padding: 5px 8px;
}
.footer a {
    color: inherit;
}