
/* CSS media must be bundled separately
if styles.css is excluded from bundling */

.sidebar {
    background-image: url(../images/background.png);
}
.nav-item.home {
    background-image: url(../images/nav1.png);
    background-position-y: 4px;
}
.nav-item.upcoming {
    background-image: url(../images/nav2.png);
    background-position-y: 5px;
}
.nav-item.overdue {
    background-image: url(../images/nav3.png);
}
.nav-item.important {
    background-image: url(../images/nav4.png);
}
.nav-item.archive {
    background-image: url(../images/nav5.png);
}
.action .task {
    background-image: url(../images/add1.svg);
}
.action .label {
    background-image: url(../images/add2.svg);
}
.task .main::before {
    background-image: url(../images/icon1.png);
}
.task.prioritize .main::before {
    background-image: url(../images/icon2.png);
}
.task #complete {
    background-image: url(../images/btn0.png);
 }
.task #change {
    background-image: url(../images/btn1.png);
 }
.task #delete {
    background-image: url(../images/btn2.png);
}