
/* CSS media must be bundled separately
if styles.css is excluded from bundling */

.sidebar {
    background-image: url(../images/background.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.task #edit {
    background-image: url(../images/btn1.png);
 }
.task #delete {
    background-image: url(../images/btn2.png);
}