@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0 0;
    padding: 0 0;
    outline: none;
}
*::before, *::after {
    box-sizing: border-box;
}

html {
    display: flex;
    height: 100%; /*fallback*/
    height: -webkit-fill-available;
}
body {
    width: 100%;
    background-color: #121922;
    font-family: sans-serif;
    text-align: center;
    color: #fff;
}

.container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    row-gap: 30px;
    max-width: 1920px;
    min-height: 100%;
    margin: auto;
    padding: 45px 10px;
}

.header {
    color: #ad6;
}
.header .title {
    color: #ad6;
}

.content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    max-width: 100%;
    max-height: 350px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2px 2px;
    width: 330px;
    height: 330px;
}
.segment {
    border-radius: 3px;
    background: linear-gradient(45deg, #bbb, #ccc);
    transition: 0.3s ease;
    cursor: pointer;
}
.segment:hover {
    opacity: 0.9;
}

.footer {
    margin-bottom: -10px;
    font-size: 15px;
    color: #eee;
}
.footer a {
    margin-left: 1px;
    text-decoration: none;
    color: #ad6;
}
.footer a:hover {
    text-decoration: underline;
}